.table-creator {
  padding: 20px;
}

.manual-input,
.grid-selection,
.table-settings {
  margin-bottom: 20px;
}

.grid {
  display: inline-block;
  margin-bottom: 20px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  cursor: pointer;
}

.grid-cell.selected {
  background-color: #007bff;
}

.table-settings {
  margin-top: 20px;
}

.generated-table {
  margin-top: 20px;
  
}

.action-buttons {
  margin-top: 10px;
}

.table-WH{
  margin-top: 10px;
}

.table-checkbox{
  margin-top: 10px;
}

.action-buttons {
  margin-top: 10px;
}

.action-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
}