.table-creator {
  padding: 20px;
  max-width: 100%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow: auto;
}

.table-creation {
  margin-bottom: 20px;
}

.table-creation label {
  display: block;
  margin: 5px 0;
}

.table-creation input {
  margin-left: 10px;
  margin-bottom: 10px;
}

.table-creation button {
  margin-top: 10px;
  padding: 5px 10px;
}

.grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.grid-cell.selected {
  background-color: #00f;
}

.generated-table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
}

.action-buttons {
  margin-top: 10px;
}

.action-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
}
